<section>
    

<div class="pu-main">
    <div class="platform-updates-container is-flex is-justify-content-space-between">

        <div class="platform-updates is-flex-direction-column has-text-black">
            <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/android-PU.svg" width="80px" height="80px">
            <div class="topic has-text-weight-bold">Platform Updates</div>
            <div class="content mt-4 mb-0">Keep up to date with what's going on with the Android platform.</div>
            <button class="button  is-rounded mt-6 has-text-black">Go to Android Platform</button>
        </div>

        <div class="right-side-boxes  is-flex is-flex-wrap-wrap is-justify-content-space-between">
            <div class="child-box num-one is-flex-direction-column">
                <div class="picture1"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image5.png"></div>
                <div class="blog-text1 mb-4">BLOG</div>
                <div class="topic1 mb-4">
                    <h3>Compose for Wear OS 1.1 is now stable: check out new features!</h3>
                </div>
                <div class="content1 one mt-4">Today we're releasing version 1.1 of Compose for Wear OS, our modern
                    declarative
                    UI toolkit to help developers build beautiful,
                    responsive apps for Wear OS. Since the first stable release earlier this year, we</div>
            </div>

            <div class="child-box num-two is-flex-direction-column">
                <div class="picture1"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image6.png"></div>
                <div class="blog-text1 mb-4">BLOG</div>
                <div class="topic1 mb-4">
                    <h3>What's new in Jetpack Compose</h3>
                </div>
                <div class="content1 two mt-4">We launched Jetpack Compose over a year ago, and have been busy improving
                    it ever since.
                    We've added new features and invented powerful tools
                    to make your experience developing Android UI as productive,</div>
            </div>

            <div class="child-box  num-three is-flex-direction-column">
                <div class="picture1"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image7.png"></div>
                <div class="blog-text1 mb-4">BLOG</div>
                <div class="topic1 mb-4">
                    <h3>The new Google Pixel Watch is here - start building for Wear OS!</h3>
                </div>
                <div class="content1 three mt-4">If you caught yesterday's Made by Google event, then you saw the latest
                    devices in the Pixel portfolio.
                    Besides the Pixel 7 and Pixel 7 Pro phones,
                    we wanted to showcase two of the latest form factors:</div>
            </div>

            <div class="child-box num-four is-flex-direction-column">
                <div class="picture1 jetpack"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image8.png"></div>
                <div class="blog-text1 mb-4">BLOG</div>
                <div class="topic1 mb-4">
                    <h3>Jetpack Compose 1.2 is now stable!</h3>
                </div>
                <div class="content1  four mt-4">Today, we're releasing version 1.2 of Jetpack Compose,
                    Android's modern, native UI toolkit,
                    continuing to build out our roadmap.
                    This release contains new features like downloadable fonts, lazy</div>
            </div>
        </div>
    </div>

</div>
<div class="tools-updates">

    <div class="platform-updates-container is-flex is-justify-content-space-between">
        <div class="platform-updates is-flex-direction-column has-text-black">
            <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/tools-update.svg" width="80px" height="80px">
            <div class="topic has-text-weight-bold">Tools Updates</div>
            <div class="content mt-4 mb-0">The latest on tools that help you build the highest quality Android apps for
                every Android device.</div>
            <button class="button  is-rounded mt-6 has-text-black">Go to Studio</button>
        </div>
        <div class="right-side-boxes  is-flex is-flex-wrap-wrap is-justify-content-space-between">
            <div class="child-box box-one is-flex-direction-column">
                <div class="picture1"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image9.png"></div>
                <div class="blog-text1 mb-4">STUDIO BLOG</div>
                <div class="topic1 mb-4">
                    <h3>Android Studio Giraffe Canary 6 now available</h3>
                </div>
                <div class="content1 mt-4">Android Studio - Giraffe | 2022.3.1 Canary 6 is now available in the Canary channel. If you already have an Android
                Studio build on the Canary channel, you can get the update by clicking Help &gt; Check for Update (or</div>
            </div>

            <div class="child-box box-two is-flex-direction-column">
                <div class="picture1"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image9.png"></div>
                <div class="blog-text1 mb-4">STUDIO BLOG</div>
                <div class="topic1 mb-4">
                    <h3>Android Studio Flamingo Beta 3 is now available</h3>
                </div>
                <div class="content1 mt-4">Android Studio - Flamingo | 2022.2.1 Beta 3 is now available in the Beta channels. If you already have an Android Studio
                build on the Beta channel, you can get the update by clicking Help &gt; Check for Update (or</div>
            </div>
        </div>
    </div>

</div>




</section>