<section>
    <div class="container1">
        <div class="text2"> Visit Our Community</div>
    </div>
    <div class="container1">
        <div class="voc-boxes  box is-flex is-justify-content-space-between is-align-content-flex-start p-0 m-0">

            <div class="voc-box">
                <figure class="image is-64x64"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/stack-overflow.svg"> </figure>
                <h5 class="title is-3 py-4 m-0">Stack Overflow Android Community</h5>
                <h6 class=""> Ask questions and get help and tips from Android developers in our Stack Overflow
                    community</h6>
                <div class="link1"><a>Learn more</a></div>
            </div>

            <div class="voc-box">
                <figure class="image is-64x64"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/twitter.svg"> </figure>
                <h5 class="title is-3 py-4 m-0">Twitter for Android Developers</h5>
                <h6 class=""> Follow our Twitter and get real-time updates and announcements related to Android
                    development</h6>
                <div class="link1"><a>Learn more</a></div>
            </div>

            <div class="voc-box">
                <figure class="image is-64x64"><img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/google-code.png"></figure>
                <h5 class="title is-3 py-4 m-0">Google Developers Community</h5>
                <h6 class=""> Connect with fellow developers and startups in your area, hear from industry experts,
                    share your skills, and learn</h6>
                <div class="link1"><a>Learn more</a></div>
            </div>

        </div>

    </div>

</section>