
<div class="android-for-dev">
    <div class="container1 is-flex is-flex-direction-row ">
        
        <div class="left-text">
            <div class="main-text">Android </div>
            <div class="main-text"> for Developers</div>
            <div class="sub-text">Modern tools and resources to help you build experiences that people love, faster and easier, across every
                Android device.</div>
            <div> 
                <input class="search input " type="text" placeholder="Search"> 
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>
        
        <div class="right-image">
            <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/AndroidForDevelopers.png" alt="">
        </div>       
    </div>      
</div>