<section class="explore-more">
    <div class="container1">
        <h2 class="em-text title is-2">Explore more</h2>
    </div>

    
    <div class="container2">

        <div class="boxes-em is-flex is-justify-content-space-between has-text-white is-align-content-flex-start p-0 ">

            <div class="box-explore-more1">
                <div class=" box1 is-flex-direction-column">
                    <div class="text-content  is-flex-direction-column">
                        <div class="heading1"> <a class="title is-3">Developer Guides</a></div>
                        <div class="description1">Find training classes that describe how to accomplish a specific task
                            with code samples you can re-use in your App.</div>
                    </div>
                    <figure class="image is-96x96 "><img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image1.svg"> </figure>

                </div>
            </div>


            <div class="box-explore-more2">
                <div class=" box1 is-flex-direction-column">
                    <div class="text-content  is-flex-direction-column">
                        <div class="heading1"> <a class="title is-3">Sample Code</a></div>
                        <div class="description1">Jump-start your development using these sample projects.</div>
                    </div>
                    <figure class="image is-96x96 "><img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image2.svg"> </figure>

                </div>
            </div>


            <div class="box-explore-more3">
                <div class=" box1 is-flex-direction-column">
                    <div class="text-content  is-flex-direction-column">
                        <div class="heading1"> <a class="title is-3">Quality guidelines</a></div>
                        <div class="description1">Build a high quality app with these design and behavior guidelines.
                        </div>
                    </div>
                    <figure class="image is-96x96 "><img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image3.svg"> </figure>

                </div>
            </div>
            <div class="box-explore-more4">
                <div class=" box1 is-flex-direction-column">
                    <div class="text-content  is-flex-direction-column">
                        <div class="heading1"> <a class="title is-3">Distribute Your App</a></div>
                        <div class="description1">Learn how to launch and distribute your apps and games successfully.
                        </div>
                    </div>
                    <figure class="image is-96x96 "><img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image4.svg"> </figure>

                </div>
            </div>

        </div>



    </div>


    </div>
</section>