
<section>
    

<div class="pu-main latest-news">
    <div class="platform-updates-container is-flex is-justify-content-space-between">

        <div class="platform-updates is-flex-direction-column has-text-black">
            <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/lightbulb.svg" width="80px" height="80px">
            <div class="topic has-text-weight-bold">Latest news </div>
            <div class="content mt-4 mb-0">Keep up to date with what's going on in Android.</div>
            <button class="button  is-rounded mt-6 has-text-black">View all news</button>
        </div>

        <div class="right-side-boxes latest-news-boxes is-flex is-flex-wrap-wrap is-justify-content-space-between">

            <div class="child-box box-one is-flex-direction-column">
                <div class="picture1"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image10.png"></div>
                <div class="blog-text1 mb-4">BLOG</div>
                <div class="topic1 mb-4">
                    <h3>Feature Engineering in the Google Play Store</h3>
                </div>
                <div class="content1 mt-4">Updated February 17, 2023</div>
            </div>

            <div class="child-box box-two is-flex-direction-column">
                <div class="picture1"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image11.png"></div>
                <div class="blog-text1 mb-4">BLOG</div>
                <div class="topic1 mb-4">
                    <h3>Enable next generation IDs for better Play Games Services support for all Google accounts</h3>
                </div>
                <div class="content1 mt-4">Updated February 16, 2023</div>
            </div>

            <div class="child-box box-three is-flex-direction-column">
                <div class="picture1"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image12.png"></div>
                <div class="blog-text1 mb-4">MEDIUM</div>
                <div class="topic1 mb-4">
                    <h3>Now in Android #77</h3>
                </div>
                <div class="content1 mt-4">Updated February 16, 2023</div>
            </div>

            <div class="child-box box-four is-flex-direction-column">
                <div class="picture1"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image13.png"></div>
                <div class="blog-text1 mb-4">MEDIUM</div>
                <div class="topic1 mb-4">
                    <h3>Constraints and modifier order</h3>
                </div>
                <div class="content1 mt-4">Updated February 15, 2023</div>
            </div>
        </div>
    </div>

</div>
<div class="tools-updates">

    <div class="platform-updates-container latest-video is-flex is-justify-content-space-between">
        <div class="platform-updates is-flex-direction-column has-text-black">
            <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/eye-1.svg" width="80px" height="80px">
            <div class="topic has-text-weight-bold">Latest videos</div>
            <div class="content mt-4 mb-0">Get the latest Android news, best practices, live videos, demonstrations,
                tutorials.</div>
            <button class="button  is-rounded mt-6 has-text-black has-text-weight-bold">View all videos</button>
        </div>

        <div class="right-side-boxes  is-flex is-flex-wrap-wrap is-justify-content-space-between">
            <div class="child-box box-one is-flex-direction-column">
                <div class="picture1"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image14.jpg"></div>
                <div class="blog-text1 mb-4"> YOUTUBE</div>
                <div class="topic1 mb-4">
                    <h3>Advanced layout concepts - MAD Skills
                    </h3>
                </div>
                <div class="content1 mt-4">Updated February 21, 2023</div>
            </div>


            <div class="child-box box-two is-flex-direction-column">
                <div class="picture1"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/image15.jpg"></div>
                <div class="blog-text1 mb-4">YOUTUBE</div>
                <div class="topic1 mb-4">
                    <h3>Now in Android: 77 - Android 14 Developer Preview, MAD Skills Compose Layouts and Modifiers, & more!
                    </h3>
                </div>
                <div class="content1 mt-4">Updated February 16, 2023
                </div>
            </div>
        </div>
    </div>

</div>
</section>