<section>
    <div class="footer-section">
        
    </div>
    <!-- ----------------------------------SECTION FOOTER 01 BEGINS------------------------------------------------ -->
    <div class="footer-container1">
        <div class="socail-medias is-flex is-justify-content-space-around">
            <div class="medias">
                <div class="media-image"><img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/logo-twitter (1).svg"></div>
                <div class="media-name">Twitter</div>
                <div class="media-description">Follow @AndroidDev on Twitter</div>
            </div>
            <div class="medias">
                <div class="media-image"><img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/youtube_48dp (1).png"></div>
                <div class="media-name">Youtube</div>
                <div class="media-description">Check out Android Developers on YouTube</div>
            </div>
            <div class="medias">
                <div class="media-image"><img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/logo-linkedin (1).svg"></div>
                <div class="media-name">LinkedIn</div>
                <div class="media-description">Connect with the Android Developers community on LinkedIn</div>
            </div>
    
    
        </div>
    </div>
    <!-- ----------------------------------SECTION FOOTER 01 ENDS--------------------------------------------------- -->
    
    <!-- --------------------------SECTION FOOTER 02 BEGINS------------------------------------------------ -->
    <div class="footer-container2 is-flex is-justify-content-space-between">
        <div class="divisons">
            <div class="main-heading ">MORE ANDROID</div>
            <div class="sub-heading"><a>Android </a></div>
            <div class="sub-heading"><a>Android for Enterprise</a></div>
            <div class="sub-heading"><a>Security</a></div>
            <div class="sub-heading"><a>Source </a></div>
            <div class="sub-heading"><a> News</a></div>
            <div class="sub-heading"><a> Blog</a></div>
            <div class="sub-heading"><a> Podcasts</a></div>
        </div>
    
        <div class="divisons">
            <div class="main-heading">DISCOVER</div>
            <div class="sub-heading"><a>Gaming</a></div>
            <div class="sub-heading"><a>Machine Learning</a></div>
            <div class="sub-heading"><a>Privacy</a></div>
            <div class="sub-heading"><a>5G</a></div>
        </div>
    
        <div class="divisons">
            <div class="main-heading">ANDROID DEVICES</div>
            <div class="sub-heading"><a>Large screens</a></div>
            <div class="sub-heading"><a>Wear OS</a></div>
            <div class="sub-heading"><a>Android TV</a></div>
            <div class="sub-heading"><a>Android for cars</a></div>
            <div class="sub-heading"><a>Android Things</a></div>
            <div class="sub-heading"><a>Chrome OS devices</a></div>
        </div>
    
        <div class="divisons">
            <div class="main-heading">RELEASES</div>
            <div class="sub-heading"><a>Android 13</a></div>
            <div class="sub-heading"><a>Android 12</a></div>
            <div class="sub-heading"><a>Android 11</a></div>
            <div class="sub-heading"><a>Android 10</a></div>
            <div class="sub-heading"><a>Pie</a></div>
            <div class="sub-heading"><a>Oreo</a></div>
            <div class="sub-heading"><a>Nougat</a></div>
        </div>
    
        <div class="divisons">
            <div class="main-heading">DOCUMENTATION AND DOWNLOADS</div>
            <div class="sub-heading"><a>Android Studio guide</a></div>
            <div class="sub-heading"><a>Developers guide</a></div>
            <div class="sub-heading"><a>API reference</a></div>
            <div class="sub-heading"><a>Download Studio</a></div>
            <div class="sub-heading"><a>Android NDK</a></div>
        </div>
    
        <div class="divisons">
            <div class="main-heading">SUPPORT</div>
            <div class="sub-heading"><a>Report platform bug</a></div>
            <div class="sub-heading"><a>Report documentation bug</a></div>
            <div class="sub-heading"><a>Google Play support</a></div>
            <div class="sub-heading"><a>Join research studies</a></div>
        </div>
    </div>
    </div>
    
    
    <!-- -------------------------SECTION FOOTER 02 ENDS--------------------------------------------------- -->
    
    
    
    
    
    
    
    
    
    
    <!-- -------------------------SECTION FOOTER 03 BEGINS--------------------------------------------------- -->
    
    <div class="footer-container3 is-flex">
        <div class="google-dev-image"> <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/google-developers-footer.svg"> </div>
        <div class="space-div"></div>
        <div class="contents  is-flex is-justify-content-space-between ">
            <div class="item">Android</div>
            <div class="item">Chrome</div>
            <div class="item">Firebase</div>
            <div class="item">Google Cloud Platform</div>
            <div class="item">All products</div>
        </div>
    </div>
    <!-- -------------------------SECTION FOOTER 03 ENDS--------------------------------------------------- -->
    
    
    
    
    
    <!-- -------------------------SECTION FOOTER 04 BEGINS--------------------------------------------------- -->
    <div class="footer-container4">
        <div class="inner-footer is-flex is-justify-content-space-between">
            <div class="inner-item">Privacy </div>
            <div class="inner-item">| License </div>
            <div class="inner-item">| Brand Guidelines</div>
            <div class="inner-item3"></div>
            <div class="inner-item4 is-flex">
                <div class="text-get-news">Get news and tips by email </div>
                <button class="button is-rounded  has-text-black">Subscribe </button>
            </div>
            <div class="landd control has-icons-left">
                <div class="select is-small">
                    <select>
                        <option selected>English</option>
                        <option>Chinese</option>
                        <option>French</option>
                    </select>
                </div>
                <span class="icon is-small is-left pr-3">
                    <iconify-icon icon="ph:globe-simple" style="color: black;" width="30" height="30"></iconify-icon>
                </span>
            </div>
        </div>
    
    </div>
    
    <!-- -------------------------SECTION FOOTER 04 ENDS--------------------------------------------------- -->

</section>