<section class="download-launch-view">
    <div class="container1">

        <div class="dlv-boxes is-flex is-justify-content-space-between is-align-content-flex-start p-0 ">

            <div class="dlv-box">
                <div class="content-box is-flex is-justify-content-flex-start">
                    <img class="image is-48x48" src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/android.svg">

                    <div class="second-div is-flex is-justify-content-space-between is-align-content-flex-start p-0 ">
                        <h2 class="title is-5 ">Download Android Studio</h2>
                        <iconify-icon icon="ic:baseline-download" width="24" height="24"></iconify-icon>
                    </div>

                </div>
            </div>
            <div class="dlv-box">
                <div class="content-box is-flex is-justify-content-flex-start">
                    <img class="image is-48x48" src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/game-console.svg">

                    <div class=" second-div is-flex is-justify-content-space-between is-align-content-flex-start p-0 ">
                        <h2 class="title is-5">Launch Play Console</h2>
                        <iconify-icon icon="ic:baseline-open-in-new" width="24" height="24"></iconify-icon>
                    </div>

                </div>
            </div>
            <div class="dlv-box">
                <div class="content-box is-flex is-justify-content-flex-start">
                    <img class="image is-48x48" src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/learn.svg">

                    <div class="second-div is-flex is-justify-content-space-between is-align-content-flex-start p-0 ">
                        <h2 class="title is-5">View Android courses</h2>
                        <div class="icon3"></div>
                    </div>

                </div>
            </div>





        </div>

    </div>
</section>