<section>
    <div class="featured-boxes  is-flex is-justify-content-space-between">
        <a>
            <div class="featured-box">
                <div class="left-box-content p-5 is-flex is-justify-content-space-between">
                    <div class="left-side-text has-text-white">
                        <div class="text1 py-1 is-size-6 has-text-weight-medium">FEATURED</div>
                        <div class="text2 py-1 is-size-3 has-text-weight-bold">Notes from Google Play</div>
                        <div class="text3 pt-1 ">Discover some highlights from 2022 and hear from Purnima Kochikar,
                            VP of Play Partnerships on how we are helping you to thrive
                            on Google Play for the years to come.</div>
                        <div class="read-now-button"><button
                                class="button is-rounded is-inverted is-outlined are-medium p-5"> Read now </button></div>
                    </div>
                    <div class="right-side-image1">
                        <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/google-play (1).svg">
                    </div>
                </div>
            </div>
        </a>
    
        <a>
            <div class="featured-box">
                <div class="right-box-content p-5 is-flex is-justify-content-space-between">
                    <div class="left-side-text has-text-black">
                        <div class="text1 py-1 is-size-6 has-text-weight-medium">FEATURED</div>
                        <div class="text2 py-1 is-size-3 has-text-weight-bold">Improve the Android Developer Experience</div>
                        <div class="text3 pt-1">Your feedback is important.Sign up to participate in our user research studies and influence how Google evolves our tools, API's, and guidance for millions of people around the world</div>
                        <div class="read-more-button"><button
                                class="button is-rounded is-inverted is-outlined are-medium p-5"> Sign up </button></div>
                    </div>
                    <div class="right-side-image2">
                        <img src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/improve.svg" width="250px" height="250px">
                    </div>
                </div>
            </div>
    
        </a>
    </div>
</section>