 <section >
    <div class="main-container">
        <div class="navbar  is-fixed-top">

            <div class="navbar-brand pl-5">
                <div class="icon1">
                    <iconify-icon icon="ci:hamburger" width="40" height="40"></iconify-icon>
                </div>
                <div class="image1">
                    <img class="" src="/home/nslabs/Desktop/Todo-app-todo-app/src/images/logo.svg ">
                </div>
            </div>
            <div class="navbar-start ">
                <div class="navbar-item px-5 "> Platform </div>
                <div class="navbar-item px-5 ">Android Studio </div>
                <div class="navbar-item px-5 "> Google Play</div>
                <div class="navbar-item px-5 ">Jetpack</div>
                <div class="navbar-item px-5 ">Kotlin</div>
                <div class="navbar-item px-5 ">Docs</div>
                <div class="navbar-item px-5 ">Games</div>
            </div>

            <div class="navbar-end ">
                <div class="landd control has-icons-left">
                    <div class="select is-small has-text-black">
                        <select>
                            <option selected>English</option>
                            <option>Chinese</option>
                            <option>French</option>
                        </select>
                    </div>
                    <span class="icon is-small is-left pr-2">
                        <iconify-icon icon="ph:globe-simple" style="color: #000;" width="25" height="30"></iconify-icon>
                    </span>
                </div>
            </div>
            <div class="sign-in navbar-item   px-2 py-0 pr-4 "><a><b> Sign in</b></a></div>
        </div>
    </div>
</section> 



